# Configuration file

Aluminium {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=false
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0x7f7f7f
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Tin
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Ardite {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0xbd4040
    D:energy=3.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Gold
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Cobalt {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0x1a52c7
    D:energy=3.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Iron
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Copper {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=false
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0xa96c3a
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Gold
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Custom {
    # Add ore names that will be turned into Mekanism gases (First letter must be capitalised). Example: Iron,Gold,Titanium
    S:gases=

    # Add prefixes separated by commas.
    # Textures will be aobd:prefix and aobd:prefix_overlay.
    # Example: dust,cluster
    S:items=
}


Draconium {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0xb6a0b7
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Draconium
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Gold {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0xd2bf24
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Gold
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Iridium {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0xcccccc
    D:energy=2.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Iridium
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Iron {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0x768492
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Nickel
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Lead {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=false
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0x799f9e
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Silver
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Mithril {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=false
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0x847efe
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Mithril
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Nickel {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=false
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0xa38e6f
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Platinum
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Platinum {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=false
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0x4ba7ce
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Platinum
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Recipes {
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    B:eng_toolbox=true
    B:exnihilo=true
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Silver {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=false
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0xe9edee
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Lead
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Steel {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0x434a51
    D:energy=2.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Steel
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Tin {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=false
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0xc0c0c0
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Iron
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Uranium {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:ImmersiveEngineering=true
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=false
    B:UltraTech=true
    B:appliedenergistics2=true
    B:aura=true
    B:bcadditions=true
    S:colour=0x75b02b
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Uranium
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Yellorium {
    B:"Disable All"=false
    B:Eln=true
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=false
    B:ImmersiveEngineering=false
    B:Magneticraft=true
    B:Mariculture=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=false
    B:RotaryCraft=true
    B:Steamcraft=true
    B:TConstruct=false
    B:Thaumcraft=false
    B:ThermalExpansion=false
    B:UltraTech=true
    B:appliedenergistics2=false
    B:aura=true
    B:bcadditions=true
    S:colour=0x9db90c
    D:energy=1.0
    B:eng_toolbox=true
    B:exnihilo=true
    S:extra=Yellorium
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


