# Configuration file

general {
    I:SMPMaxAlarmRange=256
    I:alarmRange=64
    S:allowedAlarms=default,sci-fi
    B:disableCapes=false
    S:httpSensorKey=3f34b193e4124dce976171f118818fa8
    I:infoPanelRefreshPeriod=20
    B:isHttpSensorAvailableClient=false
    B:isHttpSensorAvailableServer=true
    I:maxAlarmRange=128
    I:rangeTriggerRefreshPeriod=20

    # Valid inputs: normal, old or gregtech [default: normal]
    S:recipes=normal
    I:remoteThermalMonitorEnergyConsumption=1
}


